.containerMainPage{
    width: 80%;
    margin: auto;
    margin-left: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.figureMain{
    position: relative;
    width: 950px;
    height: 550px;
    overflow: hidden;
}
.imgMainPage{
    width: 950px;
    height: 550px;
    overflow: hidden;
    cursor: pointer;
}
.containerTitleMainPage{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 12, 22, 0.418);
    color: rgba(255, 255, 255, 0.418);
    font-size: xx-large;
    transition: 0.8s;
}
.titleMainPage {
    text-align: center;
   padding-top: 150px;
}

.containerTitleMainPage:hover{
    background-color: rgba(12, 12, 22, 0.856);
    color: rgb(255, 249, 249);
    font-size: 45px;

}

@media screen and (max-width:900px){
    .containerMainPage{
        width: 80%;
        margin: auto;
    }
    .figureMain{
        position: relative;
        width:350px;
        height: 250px;
        border-radius: 10px;
        
    }
    .imgMainPage{
        width: 350px;
        height: 250px;
        
    }
    .containerTitleMainPage{
        position: absolute;
        
        width: 100%;
        height: 100%;
        background-color: rgba(12, 12, 22, 0.418);
        color: rgba(255, 255, 255, 0.925);
        font-size: medium;
        transition: 0.8s;
        
    }
}